<a href="https://colab.research.google.com/github/hargurjeet/Data-Analysis-Using-Python/blob/main/Data_Analysis_SQL_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install opendatasets 
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.5.18.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.36)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.2.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=5206f13d8a97843d2816fc1b23200bdbe3a963c3c24e021c131f9ae105b88450
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
# To Imporing dataset from kaggle
import opendatasets as od

# For data preprocessing
import pandas as pd
import numpy as np
from collections import Counter
from pandasql import sqldf

# To build visualizations
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.express as px
import plotly.graph_objects as go
import scipy.stats
import pylab

In [3]:
# using pandas library to import the dataset
# Setting the data columns to index and for the convience to perfrom data analysis
od.download('https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019')
df = pd.read_csv("/content/amazon-top-50-bestselling-books-2009-2019/bestsellers with categories.csv")
# df.head()

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: hargurjeet
Your Kaggle Key: ··········
Downloading amazon-top-50-bestselling-books-2009-2019.zip to ./amazon-top-50-bestselling-books-2009-2019

100%|██████████| 14.5k/14.5k [00:00<00:00, 4.20MB/s]

In [4]:
sqldf("select * from df;", globals())

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

## Accessing the data

In [5]:
## Easier way of doing it
pysqldf = lambda q: sqldf(q, globals())
pysqldf("select * from df limit 5;")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

# Basics

## Selecting columns

In [7]:
pysqldf("select Name, Author from df limit 5;")

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [8]:
df[['Name', 'Author']].head()

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

## Sorting the data

In [9]:
pysqldf("select * from df order by Author limit 5;")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Cutting for Stone,Abraham Verghese,4.6,4866,11,2010,Fiction
1,Cutting for Stone,Abraham Verghese,4.6,4866,11,2011,Fiction
2,Milk and Vine: Inspirational Quotes From Class...,Adam Gasiewski,4.4,3113,6,2017,Non Fiction
3,Go the F**k to Sleep,Adam Mansbach,4.8,9568,9,2011,Fiction
4,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction

In [10]:
df.sort_values(by='Author').head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
56,Cutting for Stone,Abraham Verghese,4.6,4866,11,2010,Fiction
57,Cutting for Stone,Abraham Verghese,4.6,4866,11,2011,Fiction
232,Milk and Vine: Inspirational Quotes From Class...,Adam Gasiewski,4.4,3113,6,2017,Non Fiction
133,Go the F**k to Sleep,Adam Mansbach,4.8,9568,9,2011,Fiction
529,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction

# Filtering

## Basic filtering with single lofial operators

In [11]:
pysqldf("""select * from df where Year = 2010 limit 5;""")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
1,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
2,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
3,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
4,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

In [12]:
df[df['Year'] == 2010].head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
46,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

## Basic filters with muliple logical operatiors

In [13]:
pysqldf("""select * from df where Year = 2010 and 'User Rating' > 4 limit 5;""")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
1,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
2,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
3,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
4,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

In [14]:
df[(df['Year'] == 2010) &  (df['User Rating'] > 4)].head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
46,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

## using isin()

In [15]:
pysqldf("""select * from df where Year in (2010, 2011) limit 5;""")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
1,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
2,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
3,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
4,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction

In [16]:
df[df.Year.isin([2010,2011])].head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction

# Agreegation

## Group by

In [17]:
pysqldf("""select Author, max(Reviews) as Max_reviews, max(year) as Max_year from df 
        group by Author;""")

                         Author  Max_reviews  Max_year
0              Abraham Verghese         4866      2011
1                Adam Gasiewski         3113      2017
2                 Adam Mansbach         9568      2011
3                     Adir Levy         8170      2019
4    Admiral William H. McRaven        10199      2017
..                          ...          ...       ...
243             Walter Isaacson         7827      2017
244               William Davis         7497      2013
245            William P. Young        19720      2017
246            Wizards RPG Team        16990      2019
247                Zhi Gang Sha          220      2013

[248 rows x 3 columns]

In [18]:
temp_df = df.groupby(['Author'], as_index=False).max(['Reviews', 'year'])
temp_df = temp_df.rename(columns={'Reviews': 'Max_reviews', 'Year':'Max_year'})
temp_df[['Author','Max_reviews','Max_year']]

                         Author  Max_reviews  Max_year
0              Abraham Verghese         4866      2011
1                Adam Gasiewski         3113      2017
2                 Adam Mansbach         9568      2011
3                     Adir Levy         8170      2019
4    Admiral William H. McRaven        10199      2017
..                          ...          ...       ...
243             Walter Isaacson         7827      2017
244               William Davis         7497      2013
245            William P. Young        19720      2017
246            Wizards RPG Team        16990      2019
247                Zhi Gang Sha          220      2013

[248 rows x 3 columns]

## Count

In [19]:
pysqldf("""select * from df limit 5;""")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [20]:
pysqldf("""select Genre, count(Genre) as Total_values from df group by Genre limit 5;""")

         Genre  Total_values
0      Fiction           240
1  Non Fiction           310

In [34]:
df.Genre.value_counts()

Non Fiction    310
Fiction        240
Name: Genre, dtype: int64

## Avg

In [22]:
pysqldf("""select Author, avg(Reviews) from df group by Author limit 5;""")

                       Author  avg(Reviews)
0            Abraham Verghese        4866.0
1              Adam Gasiewski        3113.0
2               Adam Mansbach        9568.0
3                   Adir Levy        8170.0
4  Admiral William H. McRaven       10199.0

In [32]:
temp = df.groupby(['Author'], as_index=False)['Reviews'].mean().head()
temp

                       Author  Reviews
0            Abraham Verghese   4866.0
1              Adam Gasiewski   3113.0
2               Adam Mansbach   9568.0
3                   Adir Levy   8170.0
4  Admiral William H. McRaven  10199.0

# Joins

In [58]:
df_temp = pd.DataFrame({'Rating': [4.5, 4.6, 4.7, 4.8, 4.9],
                   'Description': ['bad', 'Average', 'Good', 'Very Good', 'Excellent']})

df_temp

   Rating Description
0     4.5         bad
1     4.6     Average
2     4.7        Good
3     4.8   Very Good
4     4.9   Excellent

In [57]:
pysqldf("""select df.*, df_temp.Description from df 
        left join df_temp on df.'User Rating'=df_temp.Rating limit 5; """)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Description
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,Good
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,Average
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,Good
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,Good
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,Very Good

In [61]:
pd.merge(df,df_temp,how='left', left_on='User Rating', right_on='Rating').head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating,Description
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,4.7,Good
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,4.6,Average
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4.7,Good
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,4.7,Good
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4.8,Very Good

In [50]:
pysqldf("""select ROW_NUMBER()  AS Row from df ;""")

PandaSQLException: ignored