<a href="https://colab.research.google.com/github/hargurjeet/Data-Analysis-Using-Python/blob/main/Data_Analysis_SQL_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Learning Data Preprocessing using Python/SQL**

Working with Data for pre-processing or for data analysis is something a Data Engineer/Data analyst does all the time. Python and SQL are the two most commonly used languages to perform these activities. Professionals transitioning to such roles might be families with SQL as this is widely accepted language on working with relational database but find difficulty in learning new languages like python. Pandasql library in python provide the user to work with SQL in python environment. In this article I try to teach basics of both python and pandasql so that you can leverage both the languages interchangeably in a Jupyter notebook environment.

# **Table Of Contents**<a name="top"></a>


---



---


  1. [About the Dataset](#1)
  2. [Basics](#2)
  3. [Filtering Techniques](#3)
  4. [Aggregation](#4)
  5. [Joins](#5)
  6. [Summary](#6)
  7. [Reference](#7)

# 1: AboutDataset <a name="1"></a>


---
<a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover">Go to TOC</a>

Dataset on Amazon's Top 50 bestselling books from 2009 to 2019. Contains 550 books, data has been categorized into fiction and non-fiction using Goodreads

- Name: Name of the Book
- Author: Author Name
- User Rating: Rating of each book
- Reviews: Numberic review of the book in the range of 1-5
- Price: Price of the books
- Year: Year the book is released
- Genre: Friction/Non Fricition

We load the dataset from [kaggle](https://www.kaggle.com/datasets) using a custom made library opendatasets.

I also import other standard imports to perfrom data analysis

In [ ]:
!pip install opendatasets 
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.5.18.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.36)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.2.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=6d09c8c2200e7acbb88b3186b8921c31c71ddc24c9ecdd3abbc8ed0097636f05
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
# To Imporing dataset from kaggle
import opendatasets as od

# For data preprocessing
import pandas as pd
import numpy as np

# To use SQL under python environment
from pandasql import sqldf

To download the dataset from Kaggle you need to generate the API key from kaggle website. You can go through this [article](https://jovian.ai/forum/t/what-is-kaggle-api-key-how-to-get-my-kaggle-key/17721) to understand the process

In [ ]:
# using pandas library to import the dataset
# Setting the data columns to index and for the convience to perfrom data analysis
od.download('https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019')
df = pd.read_csv("/content/amazon-top-50-bestselling-books-2009-2019/bestsellers with categories.csv")
# df.head()

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: hargurjeet
Your Kaggle Key: ··········
Downloading amazon-top-50-bestselling-books-2009-2019.zip to ./amazon-top-50-bestselling-books-2009-2019

100%|██████████| 14.5k/14.5k [00:00<00:00, 12.4MB/s]

## Accessing the data

In [ ]:
## Using pandasql 
sqldf("select * from df;", globals())

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
## An alternative way to avoid passing global all the time
pysqldf = lambda q: sqldf(q, globals())
pysqldf("select * from df limit 5;")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [ ]:
# using Python
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

# 2: Basics <a name="2"></a>


---
<a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover">Go to TOC</a>

Let us start with some basic funciton/usage

## 2.1 Selecting columns within a dataframe

In the below example I select only two columns 'Name' and 'Author' among the list of all avalaible columns

In [ ]:
# using pandasql
pysqldf("select Name, Author from df limit 5;")

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [ ]:
# using python
df[['Name', 'Author']].head()

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

## 2.2 Sorting the data

Sorting the dataframe based on the author column, In SQL 'order by' can be used whereas in python, a pre-defined function 'sort_values' are needed to be used.

In [ ]:
# using pandasql
pysqldf("select * from df order by Author limit 5;")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Cutting for Stone,Abraham Verghese,4.6,4866,11,2010,Fiction
1,Cutting for Stone,Abraham Verghese,4.6,4866,11,2011,Fiction
2,Milk and Vine: Inspirational Quotes From Class...,Adam Gasiewski,4.4,3113,6,2017,Non Fiction
3,Go the F**k to Sleep,Adam Mansbach,4.8,9568,9,2011,Fiction
4,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction

In [ ]:
# python
df.sort_values(by='Author').reset_index(drop=True).head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Cutting for Stone,Abraham Verghese,4.6,4866,11,2010,Fiction
1,Cutting for Stone,Abraham Verghese,4.6,4866,11,2011,Fiction
2,Milk and Vine: Inspirational Quotes From Class...,Adam Gasiewski,4.4,3113,6,2017,Non Fiction
3,Go the F**k to Sleep,Adam Mansbach,4.8,9568,9,2011,Fiction
4,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction

# 3: Filtering Techniques <a name="3"></a>


---
<a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover">Go to TOC</a>

Let us now learn some filtering technique using pre defined function and logical operator. Filtering helps us with data restriciton which inturn help us to extract a subset of data to carry out data analysis.

## 3.1 Basic filtering with single logical operators

In [ ]:
# using pandasql
pysqldf("""select * from df where Year = 2010 limit 5;""")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
1,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
2,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
3,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
4,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

In [ ]:
# python
df[df['Year'] == 2010].head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
46,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

## 3.2 Basic filters with muliple logical operators

In SQL you can set up criteria to query only the specific rows that interest you the most. The WHERE clause is used in SQL filter queries to apply the conditions

In [ ]:
# using pandasql
pysqldf("""select * from df where Year = 2010 and 'User Rating' > 4 limit 5;""")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
1,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
2,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
3,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
4,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

In Python, you can pass in the condition within a list to apply the required filtering.

In [ ]:
# python
df[(df['Year'] == 2010) & (df['User Rating'] > 4)].head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
46,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction

## 3.3 Using isin()/in

In [ ]:
# using pandasql
pysqldf("""select * from df where Year in (2010, 2011) limit 5;""")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
1,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
2,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
3,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
4,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction

In [ ]:
# python
df[df.Year.isin([2010,2011])].head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction

# 4: Aggregation <a name="4"></a>


---
<a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover">Go to TOC</a>

To perform any analysis as a data analyst, Learning about data aggreation is crucial. Here I am aggregating the data using one or more operators using sepcific axis.

## 4.1 Group by

Here using the max function the data is aggregated on Athour to identify maximum reviews per year.

In [ ]:
# using pandasql
pysqldf("""select Author, max(Reviews) as Max_reviews, max(year) as Max_year from df 
        group by Author;""")

                         Author  Max_reviews  Max_year
0              Abraham Verghese         4866      2011
1                Adam Gasiewski         3113      2017
2                 Adam Mansbach         9568      2011
3                     Adir Levy         8170      2019
4    Admiral William H. McRaven        10199      2017
..                          ...          ...       ...
243             Walter Isaacson         7827      2017
244               William Davis         7497      2013
245            William P. Young        19720      2017
246            Wizards RPG Team        16990      2019
247                Zhi Gang Sha          220      2013

[248 rows x 3 columns]

In [ ]:
# python
temp_df = df.groupby(['Author'], as_index=False).max(['Reviews', 'year'])
temp_df = temp_df.rename(columns={'Reviews': 'Max_reviews', 'Year':'Max_year'})
temp_df[['Author','Max_reviews','Max_year']]

                         Author  Max_reviews  Max_year
0              Abraham Verghese         4866      2011
1                Adam Gasiewski         3113      2017
2                 Adam Mansbach         9568      2011
3                     Adir Levy         8170      2019
4    Admiral William H. McRaven        10199      2017
..                          ...          ...       ...
243             Walter Isaacson         7827      2017
244               William Davis         7497      2013
245            William P. Young        19720      2017
246            Wizards RPG Team        16990      2019
247                Zhi Gang Sha          220      2013

[248 rows x 3 columns]

## 4.2 Count

Here the count function is used to count the different values under Genre column

In [ ]:
# using pandasql
pysqldf("""select Genre, count(Genre) as Total_values from df group by Genre limit 5;""")

         Genre  Total_values
0      Fiction           240
1  Non Fiction           310

In python, we have 'value_counts()' which perform exactly the same functionality.

In [ ]:
# python
df.Genre.value_counts()

Non Fiction    310
Fiction        240
Name: Genre, dtype: int64

## 4.3 Avg

Similarly Avg function is used to calculate the average reviews.

In [ ]:
# using pandasql
pysqldf("""select Author, avg(Reviews) from df group by Author limit 5;""")

                       Author  avg(Reviews)
0            Abraham Verghese        4866.0
1              Adam Gasiewski        3113.0
2               Adam Mansbach        9568.0
3                   Adir Levy        8170.0
4  Admiral William H. McRaven       10199.0

In [ ]:
# python
temp = df.groupby(['Author'], as_index=False)['Reviews'].mean().head()
temp

                       Author  Reviews
0            Abraham Verghese   4866.0
1              Adam Gasiewski   3113.0
2               Adam Mansbach   9568.0
3                   Adir Levy   8170.0
4  Admiral William H. McRaven  10199.0

# 5: Joins <a name="5"></a>


---
<a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover">Go to TOC</a>

While working with relational datasets, understanding of joins plays a very important role. Below I define a dummy dataframe as 'df_temp' to showcase the implementation of joins.

In [ ]:
df_temp = pd.DataFrame({'Rating': [4.5, 4.6, 4.7, 4.8, 4.9],
                   'Description': ['bad', 'Average', 'Good', 'Very Good', 'Excellent']})

df_temp

   Rating Description
0     4.5         bad
1     4.6     Average
2     4.7        Good
3     4.8   Very Good
4     4.9   Excellent

Here is an example of implementing left join based on the specific column to achieve the desired results

In [ ]:
# using pandasql
pysqldf("""select df.*, df_temp.Description from df 
        left join df_temp on df.'User Rating'=df_temp.Rating limit 5; """)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Description
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,Good
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,Average
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,Good
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,Good
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,Very Good

In [ ]:
# python
pd.merge(df,df_temp,how='left', left_on='User Rating', right_on='Rating').head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating,Description
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,4.7,Good
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,4.6,Average
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4.7,Good
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,4.7,Good
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4.8,Very Good

# 6: Summary <a name="6"></a>


---
<a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover">Go to TOC</a>

Following is the summary of the steps we performed while doing the analysis

- Downloaded the dataset from Kaggle.
- Accessed the dataset using python and pandsql library.
- Implemented basics filtering techniques using both python and sql.
- Implemented intermideate aggregation and joins.

# 7: Reference <a name="8"></a>


---
<a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover">Go to TOC</a>

- https://pandas.pydata.org/docs/
- https://pypi.org/project/pandasql/
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html
- https://pandas.pydata.org/docs/reference/api/pandas.merge.html